@import url('http://fonts.googleapis.com/css?family=Skranji:400,700');
@import url('normalize.css');

@-webkit-keyframes fadein {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-moz-keyframes fadein {
	0% {
		-moz-opacity: 0;
		opacity: 0;
	}
	100% {
		-moz-opacity: 1;
		opacity: 1;
	}
}

@-ms-keyframes fadein {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-o-keyframes fadein {
	0% {
		-o-opacity: 0;
		opacity: 0;
	}
	100% {
		-o-opacity: 1;
		opacity: 1;
	}
}

@keyframes fadein {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes fadeShadow {
	0% {
		-webkit-box-shadow: 0 0 2px #666;
		box-shadow: 0 0 0 #666;
	}
	100% {
		-webkit-box-shadow: 0 0 20px #666;
		box-shadow: 0 0 20px #666;
	}
}

@-moz-keyframes fadeShadow {
	0% {
		-moz-box-shadow: 0 0 2px #666;
		box-shadow: 0 0 0 #666;
	}
	100% {
		-moz-box-shadow: 0 0 20px #666;
		box-shadow: 0 0 20px #666;
	}
}

@-ms-keyframes fadeShadow {
	0% {
		-ms-box-shadow: 0 0 2px #666;
		box-shadow: 0 0 0 #666;
	}
	100% {
		-ms-box-shadow: 0 0 20px #666;
		box-shadow: 0 0 20px #666;
	}
}

@-o-keyframes fadeShadow {
	0% {
		-o-box-shadow: 0 0 2px #666;
		box-shadow: 0 0 0 #666;
	}
	100% {
		-o-box-shadow: 0 0 20px #666;
		box-shadow: 0 0 20px #666;
	}
}

@keyframes fadeShadow {
	0% {
		box-shadow: 0 0 0 #666;
	}
	100% {
		box-shadow: 0 0 20px #666;
	}
}

html, body {
	height: 100%;
	min-width: 500px;
	background: url(../img/connect.png);
	padding: 0;
	margin: 0;
}

.mainHeader {
	font-size: 36px;
	height: 80px;
	line-height: 80px;

	font-family: "Skranji", cursive;
	text-align: center;

	background: rgb(187,249,247); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(187,249,247,1) 0%, rgba(187,249,247,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(187,249,247,1)), color-stop(100%,rgba(187,249,247,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(187,249,247,1) 0%,rgba(187,249,247,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(187,249,247,1) 0%,rgba(187,249,247,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(187,249,247,1) 0%,rgba(187,249,247,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(187,249,247,1) 0%,rgba(187,249,247,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbf9f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#content, .loadingArea {
	position: absolute;
	width: 500px;
	left: 50%;
	top: 80px;
	bottom: 0;
	margin-left: -250px;
	text-align: center;

	padding: 40px 0;

	-webkit-transition: all 0.2s;
}

#content {
	z-index: 1;

	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2s;
}

#views, .template {
	display: none;
}

.loading {
	-moz-opacity: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: -1;
}

.loadingArea {
	-moz-opacity: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 0;

	height: 200px;
	margin-top: 40px;

	background: url(../img/loading.gif) center center no-repeat;
}

.loading + .loadingArea {
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=100);
}

#content > header, .main, footer, .loadingArea, nav {
	background-color: white;
	-moz-border-radius: 12px;
	border-radius: 12px;

	-webkit-box-shadow: 0 0 20px #666;
	-moz-box-shadow: 0 0 20px #666;
	box-shadow: 0 0 20px #666;

	-webkit-animation: fadeShadow 4s;
	-moz-animation: fadeShadow 4s;
	-ms-animation: fadeShadow 4s;
	-o-animation: fadeShadow 4s;
	animation: fadeShadow 4s;
}

#content > header {
	font-style: italic;
	font-weight: bold;
	display: block;
	font-size: 24px;
	line-height: 1.8;
	margin: 0;
}

.main {
	margin: 20px 0;
}

.instructions {
	color: #333;
	padding: 10px;
	text-align: center;
}

.inputField {
	border-bottom: 1px solid #ccc;
	padding: 10px;
	line-height: 40px;
	margin: 0;
	position: relative;
	z-index: 1;
}

.inputField:last-child {
	border: none;
}

.inputField input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	padding: 0 10px;

	-moz-border-radius: 8px;
	border-radius: 8px;

	border: 1px solid #333;

	background: #fff;

	font-size: 16px;
	color: black;

	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 1s;
}

.inputField input:focus {
	outline: none;
	border-color: #aff;
	background: #f4ffff;
}

.inputField .placeholder {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 25px;
	color: #aaa;
	cursor: text;
	font-size: 16px;

	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;

	z-index: 100;
}

.inputField input:focus + .placeholder, .inputField .hasValue + .placeholder {
	color: #333;
	left: 420px;
	bottom: auto;
	font-size: 12px;
	line-height: 20px;
}

footer {
	padding: 10px;
}

.loginButton {
	display: block;
	width: 100%;
	height: 40px;

	-moz-border-radius: 8px;
	border-radius: 8px;

	border: 1px solid #aaa;

	font-size: 14px;
	font-weight: bold;

	-moz-box-sizing: border-box;
	box-sizing: border-box;

	background: rgb(184,225,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,225,252,1)), color-stop(10%,rgba(169,210,243,1)), color-stop(25%,rgba(144,186,228,1)), color-stop(37%,rgba(144,188,234,1)), color-stop(50%,rgba(144,191,240,1)), color-stop(51%,rgba(107,168,229,1)), color-stop(83%,rgba(162,218,245,1)), color-stop(100%,rgba(189,243,253,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 ); /* IE6-9 */

	-webkit-box-shadow: 1px 1px 2px #ccc;
	-moz-box-shadow: 1px 1px 2px #ccc;
	box-shadow: 1px 1px 2px #ccc;
}

.loginButton:hover {
	background: rgb(192,228,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(192,228,252,1) 0%, rgba(178,214,244,1) 10%, rgba(155,193,231,1) 25%, rgba(156,195,236,1) 37%, rgba(155,197,241,1) 50%, rgba(122,177,232,1) 51%, rgba(172,221,246,1) 83%, rgba(195,244,253,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(192,228,252,1)), color-stop(10%,rgba(178,214,244,1)), color-stop(25%,rgba(155,193,231,1)), color-stop(37%,rgba(156,195,236,1)), color-stop(50%,rgba(155,197,241,1)), color-stop(51%,rgba(122,177,232,1)), color-stop(83%,rgba(172,221,246,1)), color-stop(100%,rgba(195,244,253,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(192,228,252,1) 0%,rgba(178,214,244,1) 10%,rgba(155,193,231,1) 25%,rgba(156,195,236,1) 37%,rgba(155,197,241,1) 50%,rgba(122,177,232,1) 51%,rgba(172,221,246,1) 83%,rgba(195,244,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(192,228,252,1) 0%,rgba(178,214,244,1) 10%,rgba(155,193,231,1) 25%,rgba(156,195,236,1) 37%,rgba(155,197,241,1) 50%,rgba(122,177,232,1) 51%,rgba(172,221,246,1) 83%,rgba(195,244,253,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(192,228,252,1) 0%,rgba(178,214,244,1) 10%,rgba(155,193,231,1) 25%,rgba(156,195,236,1) 37%,rgba(155,197,241,1) 50%,rgba(122,177,232,1) 51%,rgba(172,221,246,1) 83%,rgba(195,244,253,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(192,228,252,1) 0%,rgba(178,214,244,1) 10%,rgba(155,193,231,1) 25%,rgba(156,195,236,1) 37%,rgba(155,197,241,1) 50%,rgba(122,177,232,1) 51%,rgba(172,221,246,1) 83%,rgba(195,244,253,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0e4fc', endColorstr='#c3f4fd',GradientType=0 ); /* IE6-9 */
}

.loginButton:active {
	background: rgb(107,168,229);
	border: none;
	color: #fff;
	-webkit-box-shadow: inset 1px 1px 2px #333;
	-moz-box-shadow: inset 1px 1px 2px #333;
	box-shadow: inset 1px 1px 2px #333;
}

.logoutButton {
	float: right;
	font-size: 14px;
	height: 30px;
	margin: 6px;
}

.admin nav {
	float: left;
	width: 30%;
	margin-top: 20px;
	margin-right: 5%;
	height: 300px;
	overflow: hidden;
}

.admin .nav-item {
	height: 74px;
	line-height: 74px;
	border-bottom: 1px solid #666;
	cursor: pointer;
}

.admin .nav-item:last-child {
	border-bottom: none;
}

.admin nav .selected {
	background: #cff;
}

.admin .main {
	float: right;
	width: 65%;
	height: 300px;
	overflow: auto;
}

.admin .add table {
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.admin table th {
	font-size: 14px;
	font-weight: bold;
}

.admin table td {
	font-size: 12px;
}

.admin .add .first, .admin .add .last, .admin .add .type {
	width: 20%;
}

.admin .add .plusOnePermitted {
	width: 1px;
}

.admin .add .oneAction {
	cursor: pointer;
	font-style: italic;
	text-decoration: underline;
	color: #00e;
	font-size: 14px;
}

.admin .add .oneAction:hover {
	text-decoration: none;
	color: #06f;
}

.admin table input[type="text"], .admin table select {
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.admin .totals table {
	width: 100%;
}

.admin .totals th {
	width: 50%;
}

.admin .totals .total {
	font-weight: bold;
	height: 1.4em;
	line-height: 1.4em;
}

.results {
	overflow: hidden;
}

.results header {
	font-weight: bold;
	font-size: 1.25em;
	line-height: 1.75;
	border-bottom: 2px solid #888;
	overflow: hidden;
}

.results.noResults header {
	display: none;
}

.results .oneGuest {
	border-bottom: 1px solid #bbb;
	padding: 10px;
	min-height: 40px;
	line-height: 40px;
}

.results .oneGuest:last-child {
	border: none;
}

.results .oneField {
	float: left;
}

.results .oneChoice {
	height: 20px;
	line-height: 20px;
}

.results .oneChoice label {
	display: inline-block;
	width: 50px;
	text-align: center;
}

.results .name {
	width: 40%;
}

.results .attending {
	width: 30%;
}

.results .plusOne {
	width: 30%;
}

.results.noPlusOne .name {
	width: 50%;
}

.results.noPlusOne .name {
	width: 50%;
}

.results.noPlusOne .plusOne {
	display: none;
}

.results .responseDate {
	clear: both;
	background: #BCB;
	font-size: 11px;
	font-style: italic;
	line-height: 1.2;
	text-align: right;
	padding: 4px;
	margin-top: 6px;
}
